

:global {
  // .ant-card-body {
  //   padding: 0px;
  //   zoom: 1;
  // }
  
  .custom-content-video-grid {
    display: flex;
    flex-direction: column;
  }

  .custom-video-grid {
    background: black;
    display: flex;
    // direction: row;
    // justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  .custom-videoflex{
    // flex-grow: 1; // 平均分配
    background: limegreen;
    border: 1px solid #eee;
    box-sizing: border-box;
    color: #fff;
    // padding: 15px;

    display: flex;
  }

  .custom-videoflex video {
    flex-grow: 1; // 平均分配
    background: black;
    box-sizing: border-box;
    justify-content: center;
  }

}








